body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial;
    margin-left: 15%;
    margin-right: 35%;

}

blockquote {
    font-style:italic;
}

.Image {
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
}

.Description {
    font-style: italic;
    text-align: center
}

