@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
    font-family: 'Playwrite CU', 'Segoe Script', 'Arial';
    background-color: rgba(105, 238, 234, 0.74);
}

h2 {
    color: cornflowerblue;
    background-color: rgba(105, 238, 234, 0.74);
}

p {
    font-size: 18px;
    text-align: justify;
    background-color: rgba(105, 238, 234, 0.74);
    border-style:solid;
    border-width:2px;
    padding:10px;
    margin:20px, 15px, 30px;
}

body {
    font-family: Roboto;
    font-weight: 100;
    /*background-color:rgb(255, 210, 198);*/
    /*background-image:url(PCB.jpg);*/
    background-attachment:fixed;
}

#Intro {
    font-style: italic !important; /*Костыль*/
}

.Definition {
    font-weight: 700; 
}

/*<b> непосредственно вложен в <p>*/
 p > b {
     color:forestgreen;
 }

 p > i {
     text-decoration:underline;
 }

 /*
     + - дескрипторы строго следуют один за другим
     ~ - между дескрипторами могут встречаться другие дескрипторы

 */
 h1 ~ h2 {
     font-family:Consolas;
 }

 img {
     /*align-content:center;*/
     border:solid;
     width:30%;
     height:30%;
     /*position:absolute;
     padding:initial;*/
     /*float:right;*/
     margin-left:15px;
 }

table {
    /*Рамка*/
    border: 2px;
    border-style: solid;
    border-collapse: collapse;
    /*Выравнивание таблицы*/
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    text-align: center;
}

td {
    border: 1px;
    border-style: solid;
    border-color: black;    
}

th {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 6px;
    background-color: rgb(107, 95, 181);
    color:white;
    width:500px;
}

table caption {
    background-color:white;
    text-align:left;
    font-style:italic;
}

.RowHeader {
    font-weight:500;
    padding:6px;
    text-align:left;
}

.Present {
    background-color:lightgreen;
}

/*Ссылки*/

h4 {
    text-align:center;
}

/*Содержание*/
ul {
    background-color:aliceblue;
    list-style:none;
}